*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}

.mainPg{
    border: 2px solid grey;
    padding: 25px;
    margin: 25px;
}